.btn {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;

  &:hover {
    background-color: #3071a9;
    border-color: #285e8e;
  }
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

  &:hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }
}
