.navigation {
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.navigation__title {
  color: #9d9d9d;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
}

.navigation__modal-background {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222;
  opacity: 0.8;
}

.navigation__links {
  transition: all 0.3s ease;
  width: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  background: #222;
}

.navigation__links--expanded {
  width: 240px;
}

.navigation__link {
  cursor: pointer;
  display: block;
  padding: 1rem;
  color: #9d9d9d;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link--active {
  color: white;
  background-color: #080808;
}

.navigation__menu {
  color: white;
  padding: 1rem;
  float: right;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navigation__menu,
  .navigation__modal-background {
    display: none;
  }

  .navigation__links {
    display: inline-block;
    position: relative;
    width: auto;
    vertical-align: middle;
  }

  .navigation__link {
    display: inline-block;
  }
}
